@import '../../../shared/styles/variables.scss';
@import '../../../shared/styles/mixins.scss';

.main-page {
  @include flex-column($spacing-lg);
  padding: $spacing-xl;
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
  height: 100%;

  .page-header {
    @include page-header;
  }

  .content-placeholder {
    @include flex-center;
    @include card($spacing-xl);
    min-height: 400px;
    text-align: center;

    p {
      color: $text-secondary;
      font-size: $font-size-lg;
    }
  }
}
